html body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: darkgrey;
}
/* Separator */
.hSeparatorOrange {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
}
.hSeparatorWhite {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #fff;
    opacity: 1;
}
/* Nav bar */
.navBar {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 100vw));
}
.navBar h1 {
    margin-top: 1.25em;
    margin-left: 7em;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.3em;
    grid-column: 1;
}
.navBar ul {
    margin-top: 1.25em;
    margin-right: 8em;
    grid-column: 2;
}
.navBar ul li {
    float: right;
    padding: 5px 15px 5px 15px;
    list-style: none;
}
.navBar ul li a {
    text-decoration: none;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9em;
}

/* Header */
.header {
    background-image: linear-gradient(rgba(100, 85, 70, 0.8), rgba(100, 85, 70, 0.8)), url(./img/headerBg.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    height: auto;
}
.h1HeaderContainer {
    margin: auto;
    margin-top: 14.375em;
    padding: 0;
    width: 60%;
}
.h1HeaderContainer h1 {
    margin: 0;
    text-align: center;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.95);
    font-size: 3.5em;
}
.sepContainerHeader {
    height: fit-content;
}
.pHeaderContainer {
    margin: auto;
    width: 60%;
}
.pHeaderContainer p{
    margin: 0;
    font-family: Merriweather;
    font-weight: lighter;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.15em;
    text-align: center;
}
.headerButton {
    margin: auto;
    margin-top: 3em;
    margin-bottom: 13em;
    border:none;
    border-radius: 60px;
    height: 60px;
    width: 180px;
    background-color: rgb(255, 105, 50);
    font-weight: bold;
    color: white;
}

/* Body 1 */
.body1 {
    background-color: rgba(244,98,58,255);
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    height: auto;
}
.h1Body1Container {
    margin: auto;
    margin-top: 9%;
}
.h1Body1Container h1 {
    margin: 0;
    color: rgba(255, 255, 255);
    font-weight: normal;
}
.pBody1Container {
    margin: auto;
    margin-bottom: 1.25em;
    width: 59%;
}
.pBody1Container p {
    margin: 0;
    font-family: Merriweather;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-weight: normal;
    line-height: 1.5em;
}
.body1Button {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: auto;
    margin-bottom: 8em;
    border:none;
    border-radius: 11rem;
    height: 60px;
    width: 165px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.9);
}

/* Body 2 */
.body2 {
    background-color: white;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1 fr);
    height: auto;
}
.h1Body2Container {
    margin: auto;
    margin-top: 9%;
}
.h1Body2Container h1{
    margin: 0;
    font-weight: normal;
}

/* Body 2 icon */
.body2-icon {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
}
.gem-icon {
    display: flex;
    justify-content: center;
    color:#f4623a;
    margin: 4em 9em 1em 9em;
}
.laptop-icon {
    display: flex;
    justify-content: center;
    color:#f4623a;
    margin: 4em 9em 1em 9em;
}
.globe-icon {
    display: flex;
    justify-content: center;
    color:#f4623a;
    margin: 4em 9em 1em 9em;
}
.heart-icon {
    display: flex;
    justify-content: center;
    color:#f4623a;
    margin: 4em 9em 1em 9em;
}
.h2Body2-iconContainer h2{
    margin: auto;
    text-align: center;
    font-weight: normal;
    width: 100%;
}
.pBody2-iconContainer p{
    font-family: Merriweather;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 9em;
    text-align: center;
    color: #6c757d;
    line-height: 1.5em;
    font-size: 1em;
    width: 80%;
}
/* Body 3 */
.body3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
}
.imgContainer {
    position: relative;
    width: fit-content;
    height: fit-content;
}
.body3 img {
    display: block;
    width: 100%;
}
.overlay {
    position: absolute;
    background: rgba(244, 98, 58, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
}
.overlayT1 {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    top:-25px;
    justify-content: center;
    align-items: center;
    font-size: 0.85em;
    color: rgba(255, 255, 255, 0.5)
}
.overlayT2 {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Merriweather;
    font-size: 1.2rem;
    color: white;
}
.overlay:hover{
    opacity: 1;
    transition: 0.3s ease;
}

/* Body 4 */
.body4 {
    background-color: rgb(33, 37, 41);
    display: grid;
}
.h2Body4Container {
    width: 58%;
    margin: auto;
    margin-top: 7.5%;
}
.h2Body4Container h2 {
    color: #fff;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
}
.body4Button {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: auto;
    margin-bottom: 8em;
    border:none;
    border-radius: 11rem;
    height: 60px;
    width: 195px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.9);
}
.footer {
    display: grid;
    background:#fff;
}
.h2FooterContainer {
    margin: auto;
    margin-top: 9%;
}
.h2FooterContainer h2 {
    margin: 0;
    font-weight: normal;
    font-size: 2rem;
}
.pFooterContainer {
    margin: auto;
    margin-bottom: 1.25em;
    width: 47%;
}
.pFooterContainer p {
    margin: 0;
    font-family: Merriweather;
    color: #6c757d;
    text-align: center;
    font-weight: normal;
    line-height: 1.5em;
}
.contactForm {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactForm input {
    width: 40%;
    height: 3em;
    border: 1px solid rgba(40, 44, 48, 0.5);
    border-radius: 5px;
    margin-bottom: 2em;
    padding-left: 20px;
    font-size: 1.1em;
}
.contactForm input:focus {
    outline: 5px solid rgba(255, 43, 43, 0.2);
    transition: 0.3s ease;
}
.contactForm input::placeholder {
    position: relative;
    top: 2px;
    color: black;
}
.contactForm input:focus::placeholder {
    position: relative;
    top: -17px;
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.1s ease;
}
.footerButton {
    margin: auto;
    margin-bottom: 2.5em;
    border:none;
    border-radius: 60px;
    height: 60px;
    width: 41%;
    background-color: rgb(255, 105, 50);
    font-weight: bold;
    color: white;
}
.phone-icon {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.45);
}
.authPhone{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: lighter;
    font-family: Merriweather Sans;
    color: rgba(0, 0, 0, 0.6);
}
.copyright{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 20px;
    font-family: Merriweather Sans;
    font-size: 0.7em;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.5);
}